<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackemate.appberdi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash">
        <!--
             The API key for Google Maps-based APIs hardcoded.
             Note that the API key is linked to the encryption key used to sign the APK.
             No es lo ideal, pero es lo menos rompe bolas.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMoZ4t6dtiy1oaVAwl7GOFAs6B5gFebBc" />

        <receiver android:name=".services.GeofenceBroadcastReceiver" />
        <receiver android:name=".services.NotificationsReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.jackemate.appberdi.tracking.broadcast" />
                <action android:name="com.jackemate.appberdi.audio.broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:theme="@style/AppTheme.Splash">
        </activity>
        <activity
            android:name=".ui.map.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mediateca.MediatecaSiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.sites.SiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.cultural.CulturalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.preferences.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.mediateca.MediatecaStart" />
        <activity android:name=".ui.shared.contents.activities.ImageActivity" />
        <activity android:name=".ui.shared.contents.activities.VideoActivity" />
        <activity android:name=".ui.shared.contents.activities.AudioActivity" />
        <activity android:name=".ui.shared.contents.activities.TextActivity" />

        <service
            android:name="com.jackemate.appberdi.services.AudioService"
            android:exported="false" />
        <service
            android:name="com.jackemate.appberdi.services.TrackingService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>