<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackemate.appberdi">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash">
        <!--
             The API key for Google Maps-based APIs hardcoded.
             Note that the API key is linked to the encryption key used to sign the APK.
             No es lo ideal, pero es lo menos rompe bolas.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMoZ4t6dtiy1oaVAwl7GOFAs6B5gFebBc" />

        <receiver android:name=".services.GeofenceBroadcastReceiver" />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Splash">
        </activity>
        <activity
            android:name=".ui.map.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mediateca.Mediateca"
            android:label="@string/title_activity_mediateca"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.sites.SiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.attractions.AttractionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.attractions.AttractionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.preferences.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>